
/* Asegurando que el body y html ocupen el 100% del viewport */
html, body {
  scroll-behavior: smooth;
  background: linear-gradient(135deg, 
  #d61010,
  #8b0000, /* Rojo oscuro para ansiedad/paranoia */
  #3d3d3d, /* Gris para desconexión emocional */
  #1a3d7c, /* Azul profundo para aislamiento y tristeza */
  #3a7c1a, /* Verde vibrante para la distorsión perceptual */
  #ffeb3b, /* Amarillo brillante para euforia o lucidez */
  #6a0dad  /* Púrpura para misterio y confusión */
  
);
background-size: 400% 400%;
animation: gradientAnimation 15s ease infinite;
text-align: left;

}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  25% { background-position: 20% 50%; } /* Cambio más sutil en el primer cuarto */
  50% { background-position: 100% 50%; }
  75% { background-position: 20% 50%; } /* Cambio más sutil en el tercer cuarto */
  100% { background-position: 0% 50%; }
}

/* Asegurando que el div root también ocupe el 100% */
#root {
  height: 100%;
  display: flex; /* Usar flexbox para estructurar el contenido */
  flex-direction: column; /* Asegurando que los componentes se apilen verticalmente */
}

/* Estilos para el header */
header {
   border-radius: 10px; /* Bordes redondeados */
    background-color: rgba(105, 28, 105, 0.5); /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
    position: sticky; /* Fijo en la parte superior */
    top: 0; /* Fijarlo en la parte superior */
    z-index: 1000;
    margin-bottom: 5px;
    
}

h1{
  margin: 2%;
  text-align: center;
  justify-content: center;
  color:rgb(255, 255, 255);
  font-size: 3rem;
  margin-top: 5%;
  font-family: 'Times New Roman', Times, serif;
}

h2,h3{
  font-size: 2rem;
  margin: 0;
}


nav {
  display: flex; /* Organizar en fila */
  justify-content: right; /* Centrar horizontalmente */
  gap: 15px; /* Espaciado entre los botones */
  flex-wrap: wrap; /* Permitir que los botones se envuelvan en varias filas */
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.p{
 font-size:larger ;
}

.pb{
  font-size:larger ;
  color: transparent;
}

nav .button,
nav .dropdown-button {
  
  padding: 10px 25px; /* Espaciado interno para los botones */
  color: white; /* Color del texto */
  text-decoration: none; /* Sin subrayado */
  border: none; /* Sin borde */
  border-radius: 10px; /* Bordes redondeados */
  background-color:  rgba(105, 28, 105, 0.7); /* Color de fondo */ /* Color de fondo del botón */
  transition: background-color 0.3s; /* Transición de color */
  cursor: pointer; /* Cambiar el cursor a puntero */
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

/* Color de fondo al pasar el mouse */
nav .button:hover,
nav .dropdown-button:hover {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #47153d; /* Color de fondo al pasar el mouse */
}

/* Estilos del menú desplegable */
.dropdown {
  position: relative; /* Permitir que el menú se posicione en relación a este contenedor */
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.dropdown-menu {
  position: absolute; /* Posición absoluta para superponerse a otros elementos */
  background-color: rgba(105, 28, 105, 0.7);/* Color de fondo del menú */
  border-radius: 10px; /* Bordes redondeados */
  margin-top: 5px; /* Espacio entre el botón y el menú */
  z-index: 1000; /* Asegurarse de que esté encima de otros elementos */
  display: flex;
  width: 100%;
    padding: 10px;
    box-sizing: border-box;
  justify-content: right;
  flex-direction: column; /* Alinear los enlaces en columna */
}

.dropdown-item {
  padding: 10px 15px; /* Espaciado interno para los elementos del menú */
  color: white; /* Color del texto */
  text-decoration: none; /* Sin subrayado */
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.dropdown-item:hover {
  border-radius: 10px;
  background-color: #47153d; /* Color de fondo al pasar el mouse */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  nav {
      flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
      align-items: stretch; /* Alinear elementos para que ocupen todo el ancho */
  }
  h1 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
  }
  h2,h3{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
  }

  html,body{
    background-size: 250% 250%;
    text-align: left; /* Centrar el texto en los botones */
  }

  main{
    text-align: left; /* Centrar el texto en los botones */
    font-size: 1.3vmax;
  }

  nav .dropdown-item{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  nav .dropdown-button 
{
  width: 100%; 
  padding: 15px 20px;
}
  
nav .button,nav .dropdown-button:hover
nav .dropdown-button, nav.dropdown-item:hover, nav .dropdown-button {
    text-align: center; /* Centrar el texto en los botones */
    margin-bottom: 0.1; /* Espaciado entre botones */
    font-size: 15px;
    justify-content: center;
}

}


/* Estilo básico para el contenido principal */
main {
  flex: 1; /* Permitir que el main ocupe el espacio disponible entre header y footer */
  padding: 40px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  background-color:rgba(255, 255, 255, 0.85);  /* Fondo blanco para el contenido principal */
  text-align: left; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
}


/* Estilos para el footer */
footer {
  border-radius: 10px; /* Bordes redondeados */
  background-color:rgba(105, 28, 105, 0.5); /* Color de fondo */
  color: white; /* Color del texto */
  padding: 20px; /* Espaciado */
  text-align: center; /* Centrar el texto */
  margin-top: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}


.grid-contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide en dos columnas iguales */
  gap: 20px; /* Espacio entre las columnas */
  align-items: center; /* Alinea verticalmente las columnas */
}

.imagen img {
  width: 100%;
  height: auto;
}

/* Ajuste en pantallas pequeñas */
@media (max-width: 1068px) {
  .grid-contenedor {
    grid-template-columns: 1fr; /* Cambia a una columna en pantallas pequeñas */
  }
}

.ne{  font-weight: bold;}

.video-section{
  position: relative;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    height: 0;
    overflow: hidden;
}

.video-section iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
